.table {
  width: 100%;
}

.table-wrapper {
  padding: 1em;
}

.form-wrapper {
  margin: 1.4em 1em 0;
}

.option-wrapper {
  margin: 1em;
}

.toolbar {
  text-align: center;
}

.toolbar-row {
  display: flex;
  justify-content: center;
}
